[credential "https://github.com"]
	helper = !gh auth git-credential 
[user]
	email = wd40bug@gmail.com
	name = William Dale
[pull]
	rebase = false
[core]
	editor = nvim
[format]
	pretty = %C(auto) %h %d %s
