[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = wd40bug@gmail.com
	name = William Dale
[pull]
	rebase = false
[core]
	editor = gedit -s
[format]
	pretty = %C(auto) %h %d %s
