[credential "https://github.com"]
	helper = 
	helper = !'C:\\msys64\\ucrt64\\bin\\gh.exe' auth git-credential
[user]
	email = wd40bug@gmail.com
	name = William Dale
[pull]
	rebase = false
[core]
	editor = nvim
[format]
	pretty = %C(auto) %h %d %s
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\msys64\\ucrt64\\bin\\gh.exe' auth git-credential
[credential "https://isr-gitlab-prod.lanl.gov"]
	provider = generic
